/* protected/modules/employeeTraining/assets/css/style.css */

.employee-overview-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.employee-info-card {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 20px;
}

.employee-info-card h1 {
    margin-bottom: 20px;
}

.employee-info-card p {
    margin-bottom: 15px;
}

.employee-info-card hr {
    margin: 20px 0;
}

.checkbox-label {
    font-weight: normal;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.text-black {
    color: rgb(85, 85, 85);
}

.text-orange {
    color: orange;
}


#select-all-btn, #confirm-selection-btn, #confirm-time-btn, #confirm-specific-users-btn, #select-all-users-btn, #toggle-user-list-btn {
    display: inline-block;
    margin: 10px 5px 10px 0;
    padding: 5px 12px;
    font-size: 14px;
    color: #ffffff;
    background-color: rgb(85, 85, 85);
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

#confirm-time-btn {
    margin-left: 7px;
}

#select-all-btn:enabled:hover, #confirm-selection-btn:enabled:hover, #confirm-time-btn:hover, #confirm-specific-user-btn:hover, #select-all-user-btn:hover, #toggle-user-list-btn:enabled:hover, #confirm-specific-users-btn:hover, #select-all-users-btn:hover {
    background-color: #ffffff;
    color: rgb(85, 85, 85);
    border-color: rgb(85, 85, 85);
    border-radius: 4px;
}

#select-all-btn:disabled, #confirm-selection-btn:disabled, #toggle-user-list-btn:disabled{
    background-color: lightgray;
    cursor: not-allowed;
}

.employee-training-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.employee-training-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    max-width: 70vh;
    width: 100%;
}

.employee-training-card h1 {
    color: #333333;
    margin-bottom: 20px;
}

.btn-primary {
    display: inline-block;
    margin: 10px 5px 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: rgb(85, 85, 85);
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.btn-primary:hover {
    background-color: #ffffff;
    color: rgb(85, 85, 85) !important; /* Ensure the text color is correctly applied */
    border-color: rgb(85, 85, 85);
    border-radius: 4px;
}

.question-container {
    text-align: left;
    margin-bottom: 20px;
}

input[type='checkbox'] {
    cursor: pointer;
}



/* .user-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.employee-training-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 80%;
    max-width: 500px;
}

h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
} */
